
@import '../../assets/variables';

.news-item--card{
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 .125rem .25rem rgba(#000, .075);
    flex: 0 0 auto;
    background-color: white;
    & .news-item--body {
        padding: 0 2rem;
         & .news-item--actions {
             margin: 0.75rem 0;
        }
    }
    & .news-item--footer{
        color: #888;
        border-top: solid 1px #ddd;
        background-color: #eee;
        padding: 0.75rem 2rem;
    }
    &:hover {
        box-shadow: 0 .5rem 1rem rgba(#000, .15);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
        cursor: pointer;
    }
}

.news-item--wrapper{
    width: 33%;
    @media screen and (max-width: @xl) {
        width: 50%;
    }
    @media screen and (max-width: @md) {
        width: 100%;
    }
    padding: 1rem;
    box-sizing:border-box;
}
.text-gray {
    color: #888;
}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;  
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.thumbnail {
    width: 100%;
    max-height: 200px
}