@xs: 0;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1400px;

#colors() {
    secondary: #3042a1;
    primary-900: #00394f;
    primary-800: #004e67;
    primary-700: #0d617d;
    primary-600: #227694;
    primary-500: #3285a6;
    primary-400: #5298b7;
    primary-300: #6dacc9;
    primary-200: #8fc5e0;
}